*{
    box-sizing: border-box;
}
.page{
    //width: 96%;
   
    height: auto;
    min-height: 1000px;
   // margin: auto;
  .header{
     font-family: Verdana, sans-serif;
    background-color: rgb(151, 97, 11);
    width: 100%;
    height: 100vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    //padding-top: 100px;
    background-image:url(./../images/header.png);
    background-position: center;
    background-size: cover;
    
    background-repeat: no-repeat;
    
    .menu{
      background-color: rgba(18, 18, 19, 0.15);
      -webkit-backdrop-filter: blur(4px);
      backdrop-filter: blur(4px);
      width: 100%;
      height: 50px;
      border-radius: 0px 0px 15px 15px;
      display: flex; 
      flex-wrap: wrap;
      .burger{
        display: none;
        .burger_image{
          display: none;
        }
      }
      .write_menu{
        
        margin:auto;
        align-items: center;
        text-align: center;
        justify-content: space-between;
       
        .write{
          text-decoration: none;
          padding: 18px;
          color: rgb(255, 255, 255);
          font-size: 20px;
          &:hover{
            height: 50px;
            filter: brightness(120%);
            -webkit-filter: brightness(120%);
            background-color: #be7d02;
          }
        }
        
      }
    }
    .cover_head{
      padding-top: 200px;
      width: 80%;
      margin: auto;
      
      .me{
        align-items: center;
        text-align: center;
        justify-content: center;
        margin: auto;
        //font-family: 'Gloria Hallelujah', cursive;
        .title_name{
           
          margin: auto;
          color: rgb(255, 255, 255);
          font-size: 100px;
          font-weight: bold;
        }
        .title_status{
          color: white;
          font-size: 40px;
        }
       
      }
      // 
    } 
  } 
  .aboutme{
    border-radius: 0px 0px 50px 50px;
    margin-top: -1px;
    min-height: 100vh;
    font-family: Verdana, sans-serif;
    background-color: #38373b;
    .title_me{
      margin: auto;
      width: 95%;
      padding-top: 50px;
      padding-bottom: 50px;
      
      font-size: 40px;
      color: rgb(255, 255, 255); 
    }
    .wrap_me{
    
      padding-top: 50px;
      margin: auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 95%;
      .write_me{
        width: 60%;
        margin-top: 30px;
        color: rgb(255, 255, 255);
        font-size: 20px;
        .social_media{
          margin-top: 80px;
          .write_social{
            color: white;
            font-size: 20px;
            
          }
          .media_img{
            margin: 20px;
            width: 40px;
            height: 40px;
                  // width: 32px;
            aspect-ratio: auto 32 / 32;
            // height: 32px;
            overflow-clip-margin: content-box;
            overflow: clip;
            filter: grayscale(100%);
            &:hover{
              filter: brightness(120%);
              width: 60px;
              height: 60px;
              filter: grayscale(100%);
            }
          }
         
        }  
      }
      .image_me{
        align-items: center;
        text-align: center;
        justify-content: center;
       margin-bottom: 50px;
        width: 420px;
        height:450px;
        background-color: rgb(97, 92, 50);
        border-radius: 50% 50% 50% 50%;
        .me{
          
          //margin-left: 1000px;
          width: 400px;
          height:450px;
          border-radius: 50% 50% 50% 50%;
        }
      }
    }
  }
  .education{
    padding-bottom:100px;
    background-position: center;
    background-size: cover;
    background-image: url( ../images/other/6.png);
    font-family: Verdana, sans-serif;
    margin-top:-1px;
    background-color: #444347;
    min-height: 100vh;
    border-radius: 50px 50px 0px 0px;
    .write_education{
      margin: auto;
      width: 95%;
      padding-top: 50px;
      padding-bottom: 50px;
      font-size: 40px;
      color: rgb(255, 255, 255); 
    }
    .school{
      width: 95%;
      margin:auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
     
      .sd{
       
        padding: 30px;
        width:46%;
        min-height: 300px;
        margin: auto;
        border:5px solid rgb(255, 255, 255);
        margin-top: 30px;
        cursor: pointer;
        border-radius: 15px;
        background-color: rgb(133, 130, 130);
        .wrap_img{
          display: flex;
            flex-wrap: wrap;
          .write_sd{
            
            padding: 10px;
            font-size: 30px;
            color: white;
            
          }
          .sd_image{
       
            margin-left: 80%;
            width: 130px;
            height: 130px;
            margin-top: -20%;
            filter: grayscale(100%);
          }
         
        }
       
        .name_sd{
          width: 350px;
          min-height: 30px;
          background-color: rgb(255, 255, 255);
          font-size: 20px;
          padding: 10px;
          color: black;
          border-radius: 0px 15px 15px 0px;
        }
        .list_sd{
          color: white;
          padding: 10px;
          font-size: 15px;
        }
        &:hover{
          -webkit-filter: brightness(120%);
          filter: brightness(120%);
          box-shadow: 4px 4px 10px white;
          padding: 10px;
        }
      }
      .smp{
         border:5px solid rgb(255, 255, 255);
        padding: 30px;
        width:46%;
        min-height: 300px;
        margin:auto;
        margin-top: 30px;
        cursor: pointer;
        border-radius: 15px;
        background-color: rgb(100, 97, 92);
        
        .wrap_img{
          display: flex;
          flex-wrap: wrap;
          .write_smp{
            padding:10px;
            font-size: 30px;
            color: white;
          }
          .smp_image{
            margin-left: 80%;
            width: 130px;
            height: 130px;
            margin-top: -20%;
            filter: grayscale(100%);
          }
         
        }
        .name_smp{
          width: 350px;
          min-height: 30px;
          background-color: rgb(255, 255, 255);
          font-size: 20px;
          padding: 10px;
          color: black;
          border-radius: 0px 15px 15px 0px;
        }
         .list_smp{
          color: white;
          padding: 10px;
          font-size: 15px;
        }
        &:hover{
          filter: brightness(120%);
          -webkit-filter: brightness(120%);
          box-shadow: 4px 4px 10px white;
          padding: 10px;
        }
      }
      .sma{
        border:5px solid rgb(255, 255, 255);
        padding: 30px;
        width:46%;
        min-height: 300px;
        margin:auto;
        margin-top: 30px;
        cursor: pointer;
        border-radius: 15px;
        background-color: rgb(124, 115, 115);
        .wrap_img{
          display: flex;
          flex-wrap: wrap;
          .write_sma{
            padding:10px;
            font-size: 30px;
            color: white;
          }
          .sma_image{
            margin-left: 80%;
            width: 130px;
            height: 130px;
            margin-top: -20%;
            filter: grayscale(100%);
          }
         
        }
        .name_sma{
          width: 350px;
          min-height: 30px;
          background-color: rgb(255, 255, 255);
          font-size: 20px;
          padding: 10px;
          color: black;
          border-radius: 0px 15px 15px 0px;
        }
         .list_sma{
          color: white;
          padding: 10px;
          font-size: 15px;
        }
        &:hover{
          filter: brightness(120%);
          -webkit-filter: brightness(120%);
          box-shadow: 4px 4px 10px white;
          padding: 10px;
        }
      }
      .university{
        border:5px solid rgb(255, 255, 255);
        padding: 30px;
        width:46%;
        min-height: 300px;
        margin:auto;
        margin-top: 30px;
        cursor: pointer;
        border-radius: 15px;
        background-color:rgb(79, 85, 95);
        .wrap_img{
          display: flex;
          flex-wrap: wrap;
          .write_university{
            padding:10px;
            font-size: 30px;
            color: white;
          }
          .university_image{
            margin-left: 80%;
            width: 130px;
            height: 130px;
            margin-top: -20%;
            filter: grayscale(100%);
          }
         
        }
        .name_university{
          width: 350px;
          min-height: 30px;
          background-color: rgb(255, 255, 255);
          font-size: 20px;
          padding: 10px;
          color: black;
          border-radius: 0px 15px 15px 0px;
        }
        .list_university{
          color: white;
          padding: 10px;
          font-size: 15px;
        }
        &:hover{
          box-shadow: 4px 4px 10px white;
          padding: 10px;
          -webkit-filter: brightness(120%);
          filter: brightness(120%);
        }
      }
    }
    
  }
  .skills{
    font-family: Verdana, sans-serif;
    margin-top: -2px;
    padding-bottom: 20px;
    background-color: #444347;
   
    min-height: 100vh;
    .title_skills{
      margin: auto;
      width: 95%;
      padding-top: 50px;
      padding-bottom: 50px;
      
      font-size: 40px;
      color: rgb(255, 255, 255); 
    }
    .wrap_skills{
      width: 95%;
      margin: auto;
     
      .ability{
       background-image: linear-gradient(rgb(34, 8, 8),  rgb(255, 255, 255));
        
        background-position: center;
        background-size: cover;
        border-radius: 0 25% 0 25%;
        margin: auto;
        padding-bottom: 20px;
        border: 20px solid rgb(228, 190, 22);
        width: 98%;
        min-height: 400px;
        background-color: rgb(255, 255, 255);
        .write_ability{
          color: rgb(255, 145, 0);
          font-size: 30px;
          margin: 30px;
          font-weight: bold;
         
        }
        .write_ability1{
          
          color: rgb(0, 0, 0);
          font-size: 15px;
          margin: 30px;
          font-weight: bold;
        }
        .btn_abl_1{
          display: flex;
          flex-wrap: wrap;
          width: 90%;
         margin: auto;
         
          .wrap_abl{
            min-width: 30%;
            //border-radius: 25% 25% 25% 25%;
            display: flex;
            flex-wrap: wrap;
            margin-top: 10px;
            margin: 10px;
            min-height: 40px;
            color: #000000;
           // background-color: rgb(255, 255, 255);
            .wrap_abl_img{
              width: 50px;
              height: 50px;
              background-color: #afb6c9;
              border-radius: 15px;  
             
              // margin: auto;
            }
            .btn_abl{
              margin: 10px;
              //padding: 5px;
              font-size: 18px;
              min-height: 20px;
              width: 180px;
              //background-color: rgb(115, 124, 121);
             
              .btn_abl_in{
               
              }
             
            }
            &:hover{
              filter: brightness(120%);
              padding: 5px;
              background-color: #ffffff;
              box-shadow: 4px 4px 10px rgb(78, 77, 77);
              color: black;
            }
          }
          
        }
        &:hover{
          filter: brightness(120%);
         // padding: 15px;
        } 
      }
      .other_ability{
        background-image: linear-gradient(rgb(34, 8, 8),  rgb(255, 255, 255));
        
        border-radius: 25% 0 25% 0 ;
        margin: auto;
        border: 20px solid rgb(228, 190, 22);
        width: 98%;
        min-height: 400px;
        color: black;
        font-size: 30px;
        background-color: rgb(255, 255, 255);
        .title_write_ability{
          color: rgb(255, 145, 0);
          font-size: 30px;
          margin: 30px;
          font-weight: bold;
         
        }
        .other_write_ability{
         
          color: black;
          font-size: 18px;
          margin: 30px;
          font-weight: lighter;
         
        }
        &:hover{
          filter: brightness(120%);
        }
       
       
      }

      .other_ability2{
        background-image: linear-gradient(rgb(34, 8, 8),  rgb(255, 255, 255));
        
        margin: auto;
        border: 20px solid rgb(228, 190, 22);
        width: 98%;
        border-radius: 0 25% 0 25%;
        min-height: 400px;
        background-color: rgb(255, 255, 255);
        .title_write_ability2{
          color: rgb(255, 145, 0);
          font-size: 30px;
          margin: 30px;
          font-weight: bold;
         
        }
        .img_abil{
          display: flex;
          flex-wrap: wrap;
          padding: 20px;
          color: rgb(0, 0, 0);
          .img_a{
            width: 50px;
            height: 50px;
            background-color: #d0ccfa;
          }
          .other_write_ability2{
           
            width: 80%;
          
            font-size: 18px;
            padding-left: 10px;
            font-weight: lighter;
            &:hover{
              //color: black;
            } 
          }
          &:hover{
            color: black;
            padding: 10px;
            filter: brightness(120%);
            box-shadow: 4px 4px 10px rgb(121, 119, 119);
            background-color: #a1a5b1;
          }
        }
          
        &:hover{
          filter: brightness(120%);
         // padding: 15px;
        } 
      }
      .ability3{
        border-radius:  25% 0 25% 0;
        margin: auto;
        padding-bottom: 20px;
        border: 20px solid rgb(228, 190, 22);
        width: 98%;
        min-height: 400px;
        background-image: linear-gradient(rgb(34, 8, 8),  rgb(255, 255, 255));
        
        background-color: rgb(255, 255, 255);
        .write_ability3{
          color: rgb(255, 145, 0);
          font-size: 30px;
          margin: 30px;
          font-weight: bold;
         
        }
        .write_ability13{
          
          color: rgb(0, 0, 0);
          font-size: 15px;
          margin: 30px;
          font-weight: bold;
        }
        .btn_abl_13{
          display: flex;
          flex-wrap: wrap;
          width: 85%;
          margin-top: 35px;
          margin: auto;
          padding-bottom: 20px;
          .wrap_abl3{
            margin-top: 10px;
            min-width: 30%;
            //border-radius: 25% 25% 25% 25%;
            display: flex;
            flex-wrap: wrap;
            margin: 10px;
            min-height: 40px;
            color: #000000;
           // background-color: rgb(255, 255, 255);
            .wrap_abl3_img{
              width: 50px;
              height: 50px;
              background-color: #afb6c9;
              border-radius: 15px; 
            }
            .btn_abl3{
              margin: 10px;
              padding: 5px;
              font-size: 18px;
              min-height: 20px;
              width: 180px;
              
              .btn_abl_in3{
                //margin-left: 24px;
              }
            }
            &:hover{
              color: black;
              filter: brightness(120%);
              padding: 5px;
              background-color: #ffffff;
              box-shadow: 4px 4px 10px rgb(78, 77, 77);
            }
          }
          
        }
        &:hover{
          filter: brightness(120%);
         // padding: 15px;
        } 
      }
      
    }
    
  }
  .footer{
    font-family: Verdana, sans-serif;
    display: block;
    background-color: #444347;
    color: rgb(175 180 220);
    font-size: 0.9em;
    margin-top: -1px;
    padding-top: 32px;
    padding-bottom: 32px;
    .cover_footer{
      margin: auto;
      width: 95%;
      padding-top: 50px;
      padding-bottom: 50px;
      
      font-size: 40px;
      color: rgb(255, 255, 255); 
      .address{
       
        width: 95%;
        margin: 5px;
        align-items: center;
        text-align: center;
        justify-content: center;
        .write_add{
          color: white;
          font-size: 20px;
          padding: 20px;
          
        }
        .wrap_img_add{
          display: flex;
          flex-wrap: wrap;
          margin: auto;align-items: center;
          text-align: center;
          justify-content: center;
          .second_wrap{
            width: 200px;
            padding: 10px;
            .add_img{
              
              padding-bottom: 5px;
              width: 30px;
              // height: 30px;
              // width: 32px;
              aspect-ratio: auto 32 / 32;
              // height: 32px;
              overflow-clip-margin: content-box;
              overflow: clip;
              filter: invert(100%);
              
            }
            &:hover{
              filter: brightness(120%);
              -webkit-filter: brightness(120%);
              background-color: #4a5572;
              border-radius: 15px;
            }
          }
          
        }
        .explain_footer{
          min-width: 100px;
          margin: 5px;
          margin-top: 30px;
          .ex_write{
            font-size: 18px;
            color: white;
            text-decoration: none;
            &:hover{
              filter: brightness(120%);
              -webkit-filter: brightness(120%);
              background-color: #4a5572;
              border-radius: 15px;
              padding: 10px;
            }
          }
         
        }
       
        .add_write{
          color: white;
          font-size: 12px;
        }
      }
        
    }
   
    
  }
}
@import './responsive.scss';
