*{
    box-sizing: border-box;
}
.page{
    //width: 96%;
   
    height: auto;
    min-height: 1000px;
   // margin: auto;
  .header{
    background-color: rgb(151, 97, 11);
    width: 100%;
    height: 100vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    //padding-top: 100px;
    background-image:url(./../images/header.png);
    background-position: center;
    background-size: cover;
    
    background-repeat: no-repeat;
    
    .menu{
      background-color: rgba(18, 18, 19, 0.15);
      -webkit-backdrop-filter: blur(4px);
      backdrop-filter: blur(4px);
      width: 100%;
      height: 50px;
      border-radius: 0px 0px 15px 15px;
      display: flex; 
      flex-wrap: wrap;
      .burger{
        display: none;
        .burger_image{
          display: none;
        }
      }
      .write_menu{
        margin:auto;
        align-items: center;
        text-align: center;
        justify-content: space-between;
        .write{
          text-decoration: none;
          padding: 18px;
          color: rgb(255, 255, 255);
          font-size: 20px;
          &:hover{
            height: 50px;
            filter: brightness(120%);
            -webkit-filter: brightness(120%);
            background-color: #be7d02;
          }
        }
        
      }
    }
    .cover_head{
      padding-top: 200px;
      width: 80%;
      margin: auto;
      
      .me{
        align-items: center;
        text-align: center;
        justify-content: center;
        margin: auto;
        //margin-top: 200px;
        .title_name{
          margin: auto;
          color: rgb(255, 255, 255);
          font-size: 100px;
          font-weight: bold;
        }
        .title_status{
          color: white;
          font-size: 40px;
        }
       
      }
      // 
    } 
  } 
  .aboutme{
    border-radius: 0px 0px 50px 50px;
    margin-top: -1px;
    min-height: 100vh;
    background-color: #38373b;
    .title_me{
      font-size: 40px;
      color: white;
      padding: 30px;
    }
    .wrap_me{
      padding-top: 50px;
      margin: auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 90%;
      .write_me{
        width: 60%;
        margin-top: 30px;
        color: rgb(255, 255, 255);
        font-size: 20px;
        .social_media{
          margin-top: 80px;
          .write_social{
            color: white;
            font-size: 20px;
            
          }
          .media_img{
            margin: 20px;
            width: 40px;
            height: 40px;
                  // width: 32px;
            aspect-ratio: auto 32 / 32;
            // height: 32px;
            overflow-clip-margin: content-box;
            overflow: clip;
            filter: grayscale(100%);
            &:hover{
              filter: brightness(120%);
              width: 60px;
              height: 60px;
              filter: grayscale(100%);
            }
          }
         
        }  
      }
      .image_me{
        align-items: center;
        text-align: center;
        justify-content: center;
        // margin-left: 990px;
        width: 420px;
        height:450px;
        background-color: rgb(97, 92, 50);
        border-radius: 50% 50% 50% 50%;
        .me{
          
          //margin-left: 1000px;
          width: 400px;
          height:450px;
          border-radius: 50% 50% 50% 50%;
        }
      }
    }
  }
  .education{
   // margin: auto;
    margin-top:-1px;
    background-color: #444347;
    min-height: 100vh;
    border-radius: 50px 50px 0px 0px;
    .write_education{
      font-size: 40px;
      color: rgb(255, 255, 255);
      margin-left: 30px;
      padding-top: 30px;
      // mar 
    }
    .school{
      //margin: 30px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      .sd{
        border-radius: 15px 15px 15px 15px;
        margin: 30px;
        margin-right: 5px;
        margin-top: 10px;
        background-color: rgb(133, 130, 130);
        width: 46%;
        height: 300px;
        cursor: pointer;
        .write_sd{
          padding: 10px;
          font-size: 30px;
          color: white;
        }
        .sd_image{
          width: 50px;
          height: 50px;
        }
        .name_sd{
          text-align: center;
          align-items: center;
          width: 150px;
          background-color: rgb(255, 255, 255);
          height: 40px;
          font-size: 20px;
          padding: 5px;
          color: black;
          border-radius: 0px 15px 15px 0px;
        }
        .list_sd{
          color: white;
          padding: 10px;
          font-size: 15px;
        }
        &:hover{
          -webkit-filter: brightness(120%);
          filter: brightness(120%);
          box-shadow: 4px 4px 10px white;
          padding: 10px;
        }
      }
      .smp{
        width:46%;
        height: 300px;
        margin: 30px;
        margin-left: 5px;
        margin-top: 10px;
        cursor: pointer;
        border-radius: 15px;
        background-color: rgb(100, 97, 92);
        .write_smp{
          padding:10px;
          font-size: 30px;
          color: white;
        }
        .name_smp{
          text-align: center;
          align-items: center;
          width: 200px;
          background-color: rgb(255, 255, 255);
          height: 40px;
          font-size: 20px;
          
          color: black;
          border-radius: 0px 15px 15px 0px;
        }
         .list_smp{
          color: white;
          padding: 10px;
          font-size: 15px;
        }
        &:hover{
          filter: brightness(120%);
          -webkit-filter: brightness(120%);
          box-shadow: 4px 4px 10px white;
          padding: 10px;
        }
      }
      .sma{
        margin: 30px;
        margin-right: 5px;
        margin-top: 10px;
        width: 46%;
        height: 300px;
        cursor: pointer;
        border-radius: 15px 15px 15px 15px;
        background-color: rgb(124, 115, 115);
        .write_sma{
          padding: 10px;
          font-size: 30px;
          color: white;
        }
        .name_sma{
          text-align: center;
          align-items: center;
          width: 200px;
          background-color: rgb(255, 255, 255);
          height: 40px;
          font-size: 20px;
          padding: 5px;
          color: black;
          border-radius: 0px 15px 15px 0px;
        }
         .list_sma{
          color: white;
          padding: 10px;
          font-size: 15px;
        }
        &:hover{
          filter: brightness(120%);
          -webkit-filter: brightness(120%);
          box-shadow: 4px 4px 10px white;
          padding: 10px;
        }
      }
      .university{
       
        width:46%;
        height: 300px;
        margin: 30px;
        margin-left: 5px;
        margin-top: 10px;
        cursor: pointer;
        border-radius: 15px;
        background-color:rgb(79, 85, 95);
        .write_university{
          font-size: 30px;
          color: white;
          padding: 10px;
        }
        .name_university{
          text-align: center;
          align-items: center;
          width: 350px;
          background-color: rgb(255, 255, 255);
          height: 40px;
          font-size: 20px;
          padding: 5px;
          color: black;
          border-radius: 0px 15px 15px 0px;
        }
        .list_university{
          color: white;
          padding: 10px;
          font-size: 15px;
        }
        &:hover{
          box-shadow: 4px 4px 10px white;
          padding: 10px;
          -webkit-filter: brightness(120%);
          filter: brightness(120%);
        }
      }
    }
    
  }
  .skills{
    margin-top: -2px;
    background-color: #444347;
    //border-radius: 50px 50px 0px 0px;
    min-height: 100vh;
    .title_skills{
      
      // margin-left: 30px;
      font-size: 40px;
      color: rgb(255, 255, 255); 
    }
    .wrap_skills{
      // margin-bottom: 5px;
      // margin-top: 20px;
      margin: auto;
     
      .ability{
        border-radius: 0 25% 0 25%;
        margin: auto;
        border: 20px solid rgb(228, 190, 22);
        width: 98%;
        min-height: 400px;
        background-color: rgb(255, 255, 255);
        .write_ability{
          color: rgb(255, 145, 0);
          font-size: 30px;
          margin: 30px;
          font-weight: bold;
          font-family: 'Gloria Hallelujah', cursive;
        }
        .write_ability1{
           font-family: 'Gloria Hallelujah', cursive;
          color: black;
          font-size: 15px;
          margin: 30px;
          font-weight: bold;
        }
        .btn_abl_1{
          
          margin-top: 50px;
          .wrap_abl{
            border-radius: 25% 25% 25% 25%;
            width: 80%;
            margin-left: 30px;
            min-height: 40px;
            background-color: rgb(255, 255, 255);
            .btn_abl{
              font-family: 'Gloria Hallelujah', cursive;
              text-align: center;
              align-items: center;
              justify-content: center;
              margin: 20px;
              padding: 5px;
              font-size: 18px;
              min-height: 40px;
              //background-color: rgb(115, 124, 121);
              color: #221a1a;
             // border: 2px solid grey;
              
            }
            &:hover{
              filter: brightness(120%);
              padding: 15px;
            }
          }
          
        }
        &:hover{
          filter: brightness(120%);
         // padding: 15px;
        } 
      }
      .other_ability{
        border-radius: 25% 0 25% 0 ;
        margin: auto;
        border: 20px solid rgb(228, 190, 22);
        width: 98%;
        min-height: 400px;
        color: black;
        font-size: 30px;
        background-color: rgb(255, 255, 255);
        .title_write_ability{
          color: black;
          font-size: 30px;
          margin: 30px;
          font-weight: bold;
          font-family: 'Gloria Hallelujah', cursive;
        }
        .other_write_ability{
          font-family: 'Gloria Hallelujah', cursive;
          color: black;
          font-size: 18px;
          margin: 30px;
          font-weight: lighter;
          
        }
        &:hover{
          filter: brightness(120%);
        }
       
       
      }

      .other_ability2{
        border-radius: 0 25% 0 25% ;

        margin: auto;
        border: 20px solid rgb(228, 190, 22);
        width: 98%;
        min-height: 400px;
        background-color: rgb(255, 255, 255);
        .title_write_ability2{
          color: black;
          font-size: 30px;
          margin: 30px;
          font-weight: bold;
          font-family: 'Gloria Hallelujah', cursive;
        }
        .img_abil{
          display: flex;
          flex-wrap: wrap;
          padding: 20px;
          .img_a{
            width: 50px;
            height: 50px;
            background-color: #d0ccfa;
          }
          .other_write_ability2{
            font-family: 'Gloria Hallelujah', cursive;
            width: 80%;
            color: black;
            font-size: 18px;
            padding-left: 10px;
            font-weight: lighter;
          }
          &:hover{
            padding: 10px;
            filter: brightness(120%);
            box-shadow: 4px 4px 10px rgb(121, 119, 119);
           background-color: #b2b7c4;
          }
        }
          
      // &:hover{
      //   filter: brightness(120%);
      // }
      }
      
    }
    
  }
  .footer{
    display: block;
    background-color: #3c414d;
    color: rgb(175 180 220);
    font-size: 0.9em;
    margin-top: -1px;
    padding-top: 32px;
    padding-bottom: 32px;
    .cover_footer{
      width: auto;
      padding-left: 16px;
      padding-right: 16px;
      
      max-width: 1200px;
      margin: auto;
      overflow: visible;
      .address{
       
        //background-color: aliceblue; 
        width: 95%;
        margin: 5px;
        align-items: center;
        text-align: center;
        justify-content: center;
        .write_add{
          color: white;
          font-size: 20px;
          padding: 20px;
          
        }
        .wrap_img_add{
          display: flex;
          flex-wrap: wrap;
          margin: auto;align-items: center;
          text-align: center;
          justify-content: center;
          .second_wrap{
            width: 200px;
            padding: 10px;
            .add_img{
              
              padding-bottom: 5px;
              width: 30px;
              // height: 30px;
              // width: 32px;
              aspect-ratio: auto 32 / 32;
              // height: 32px;
              overflow-clip-margin: content-box;
              overflow: clip;
              filter: invert(100%);
              
            }
            &:hover{
              filter: brightness(120%);
              -webkit-filter: brightness(120%);
              background-color: #4a5572;
              border-radius: 15px;
            }
          }
          
        }
        .explain_footer{
          min-width: 100px;
          margin: 5px;
          margin-top: 30px;
          .ex_write{
            font-size: 18px;
            color: white;
            text-decoration: none;
            &:hover{
              filter: brightness(120%);
              -webkit-filter: brightness(120%);
              background-color: #4a5572;
              border-radius: 15px;
              padding: 10px;
            }
          }
         
        }
       
        .add_write{
          color: white;
          font-size: 12px;
        }
      }
        
    }
   
    
  }
}
@import './responsive.scss';
